/node_modules
/public/hot

/storage/*.key
/vendor
.env
#/.idea
#/.idea/workspace.xml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/css/
/public/fonts/
/public/image/
/public/js/

public/mix-manifest.json

