/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/playfair/PlayfairDisplay-Regular.eot");
  src: url("../fonts/playfair/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/playfair/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/playfair/PlayfairDisplay-Bold.eot");
  src: url("../fonts/playfair/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/playfair/PlayfairDisplay-Bold.eot");
  src: url("../fonts/playfair/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-SemiBold.eot");
  src: url("../fonts/raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Regular.eot");
  src: url("../fonts/raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Regular.woff") format("woff"), url("../fonts/raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Medium.eot");
  src: url("../fonts/raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Medium.woff") format("woff"), url("../fonts/raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Light.eot");
  src: url("../fonts/raleway/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Light.woff") format("woff"), url("../fonts/raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Bold.eot");
  src: url("../fonts/raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Bold.woff") format("woff"), url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-ExtraBold.eot");
  src: url("../fonts/raleway/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:active {
  outline: 0 !important;
}

*:hover {
  outline: 0 !important;
}

*:focus {
  outline: 0 !important;
}

body {
  margin: 0;
  font-family: -apple-system, LandRoverWeb, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
  font-weight: 400;
  line-height: 1.4;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

svg {
  width: 100%;
  height: 100%;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input, textarea {
  outline: none;
  border-radius: 0;
}

button {
  outline: none !important;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

form *:-webkit-autofill,
form *:-webkit-autofill:hover,
form *:-webkit-autofill:focus,
form *:-webkit-autofill:active {
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-fill-color: #000000 !important;
  color: #000000 !important;
  -webkit-transition: background-color 1000000s cubic-bezier(0.4, 0, 1, 1) 0s;
  transition: background-color 1000000s cubic-bezier(0.4, 0, 1, 1) 0s;
}

body, html {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  color: rgba(0, 4, 57, 0.75);
  line-height: 1;
  font-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-text-size-adjust: none;
}

body.compensate-for-scrollbar {
  margin-right: 0;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  background: #E4E8E8;
}
body::-webkit-scrollbar-thumb {
  background: #3EA1D2;
}

input, button {
  border-radius: 0;
  -webkit-appearance: none;
}

a {
  outline: none;
}

.edge .svg_container,
.ie .svg_container {
  position: fixed;
  bottom: 20px;
  left: 0;
  top: 0;
}

.svg_container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

a[href] {
  outline: none;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a.nav-link[href],
a:-webkit-any-link,
a.news-slider-item[href] {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}

.logo-wrap {
  display: -webkit-box;
  display: flex;
}

.logo-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  margin-right: auto;
}

.nav-item {
  position: relative;
}

.sub-nav {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0, 30%);
          transform: translate(0, 30%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sub-nav-item {
  display: -webkit-box;
  display: flex;
  color: #777;
  letter-spacing: 0.075em;
  line-height: 1.2;
  white-space: nowrap;
  font-size: 0.8854166667vw;
  padding: 0.5208333333vw 1.0416666667vw;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.7;
}

.sub-nav-item:hover {
  opacity: 1;
}

.sub-nav-item:last-child {
  padding-bottom: 0.78125vw;
}

.sub-nav-item:first-child {
  padding-top: 0.78125vw;
}

.nav-link {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: flex;
  color: #777;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  line-height: 1.3;
  letter-spacing: 0.075em;
  font-size: 0.9375vw;
  padding: 2.0833333333vw 1.5625vw 1.5625vw;
}

.nav-link span {
  position: relative;
}

.nav-link span:before {
  content: "";
  width: 0;
  position: absolute;
  height: 1px;
  top: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  left: 0;
  background: #3EA1D2;
}

.nav-item:hover .nav-link {
  color: #3EA1D2;
}
.nav-item:hover .nav-link span:before {
  width: 100%;
}

.nav-item:hover .sub-nav {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  pointer-events: all;
}

.user-nav-item {
  display: -webkit-box;
  display: flex;
}

.main-slider {
  width: 93%;
  margin-left: auto;
  opacity: 0;
}

.slide-item {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  height: 100%;
}

.slide-image {
  width: 65%;
  margin-left: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide-image:before {
  content: "";
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: -15%;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(40%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 40%);
}

.slide-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.slide-content {
  width: 48%;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.slide-heading {
  font-family: "PlayfairDisplay", serif;
  font-weight: 700;
  color: rgba(0, 4, 57, 0.75);
  letter-spacing: 0.05em;
  width: 100%;
  padding-bottom: 2.8645833333vw;
  font-size: 3.6458333333vw;
  opacity: 0;
}

.slide-text {
  width: 67%;
  display: -webkit-box;
  display: flex;
  line-height: 1.15;
  font-size: 1.0416666667vw;
  letter-spacing: 0.05em;
  opacity: 0;
}

.slide-content .main-btn {
  margin-top: 3.125vw;
  opacity: 0;
}

.main-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: #3EA1D2;
  color: #fff;
  font-size: 0.9375vw;
  padding: 1.0416666667vw 1.3020833333vw;
  font-weight: 500;
  letter-spacing: 0.05em;
}

footer {
  width: 100%;
  margin-top: 4.1666666667vw;
}

.footer-logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 4.1666666667vw;
}

.footer-logo-img {
  width: 6.5104166667vw;
  height: 5.2083333333vw;
  display: -webkit-box;
  display: flex;
  margin-right: 1.5625vw;
}

.footer-logo-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.footer-logo-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.footer-logo-text .university {
  font-size: 0.9375vw;
  letter-spacing: 0.05em;
  color: rgba(0, 4, 57, 0.55);
  margin: 1.0416666667vw 0 0.5208333333vw;
}

.footer-logo-text .department {
  font-size: 1.9791666667vw;
  letter-spacing: 0.05em;
  color: rgba(0, 4, 57, 0.55);
}

.footer-contacts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 2.8645833333vw;
}

.contact-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
}

.contact-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 2.6041666667vw;
  width: 23.4375vw;
}

.contact-item + .contact-item {
  border-left: 1px solid rgba(0, 4, 57, 0.4);
}

.contact-item .contact-icon {
  width: 1.8229166667vw;
  height: 1.8229166667vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 1.5625vw;
}

.contact-icon svg {
  fill: rgba(0, 4, 57, 0.55);
}

.contact-text {
  font-size: 1.09375vw;
  letter-spacing: 0.05em;
}

.socials-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 3.6458333333vw;
}

.socials-list a {
  display: -webkit-box;
  display: flex;
  width: 2.6041666667vw;
  height: 2.6041666667vw;
  border-radius: 50%;
  background: rgba(62, 161, 210, 0.7);
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0.7;
}

.socials-list a:hover {
  opacity: 1;
}

.socials-list a + a {
  margin-left: 1.3020833333vw;
}

.socials-list a svg {
  fill: #fff;
  width: 1.5625vw;
  height: 1.5625vw;
}

.copyright {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background: #3d3d3d;
  padding: 0.78125vw 5.2083333333vw;
}

.copyright p {
  color: #fff;
  font-size: 0.78125vw;
  letter-spacing: 0.05em;
}

.news-item {
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 27.0833333333vw;
}

.news-image {
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 18.75vw;
}

.news-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.news-info {
  padding: 1.3020833333vw 1.0416666667vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
}

.news-title {
  font-size: 1.25vw;
  letter-spacing: 0.07em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.78125vw;
}

.news-detail {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.news-detail-item p {
  font-size: 0.78125vw;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: rgba(0, 4, 57, 0.4);
}

.news-detail-item svg {
  width: 1.3020833333vw;
  height: 1.3020833333vw;
  margin-right: 0.5208333333vw;
}

.news-detail-item + .news-detail-item {
  margin-left: 1.3020833333vw;
}

.news-text {
  font-size: 0.9375vw;
  line-height: 1.38;
  letter-spacing: 0.05em;
  margin-top: 1.0416666667vw;
  margin-bottom: 1.5625vw;
}

.main-btn.light {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #3EA1D2;
  color: #3EA1D2;
}

.news-info .main-btn {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.date-label {
  position: absolute;
  background: rgba(62, 161, 210, 0.7);
  right: 1.0416666667vw;
  top: 1.0416666667vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 5.2083333333vw;
  height: 5.2083333333vw;
}

.date-label p {
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.date-label .day {
  font-size: 1.5625vw;
}

.date-label .mounth {
  font-size: 1.0416666667vw;
  margin-top: 1.0416666667vw;
}

.slick-slide > div,
.slick-slide .slide-wrap {
  height: 100%;
  width: 100%;
}

.main-slider .slick-slide {
  margin: 0 1px;
}

.slider-arrow {
  width: 3.125vw;
  height: 3.125vw;
  background: #3EA1D2;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.slider-arrow:hover {
  opacity: 0.9;
}

.slider-arrow svg {
  width: 0.625vw;
  height: 1.25vw;
}

.slider-prev {
  right: 65%;
  bottom: 3.125vw;
}

.slider-next {
  right: calc(65% - 3.125vw);
}

.slider-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-pagination {
  width: 3px;
  display: -webkit-box;
  display: flex;
  height: 2.0833333333vw;
  background: #3EA1D2;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0.4;
}

.slick-active .custom-pagination {
  height: 3.90625vw;
  opacity: 0.8;
}

.slick-dots {
  position: absolute;
  bottom: 1%;
  right: calc(100% + 3.6458333333vw);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  list-style: none;
}

.slick-dots li {
  cursor: pointer;
}

.slick-dots li + li {
  margin-top: 0.5208333333vw;
}

@media (min-width: 1201px) and (max-width: 1600px) {
  body, html {
    font-size: 0.8333333333vw;
  }
  header {
    padding: 0 3.6458333333vw;
  }
  .logo-wrap {
    width: 5.2083333333vw;
    height: 3.6458333333vw;
    margin-right: 2.0833333333vw;
  }
  .user-nav-item {
    height: 1.8229166667vw;
    width: 1.5625vw;
  }
}

@media (min-width: 1601px) {
  body, html {
    font-size: 0.8333333333vw;
  }
  header {
    padding: 0 3.6458333333vw;
  }
  .logo-wrap {
    width: 5.2083333333vw;
    height: 3.6458333333vw;
    margin-right: 2.0833333333vw;
  }
  .user-nav-item {
    height: 1.8229166667vw;
    width: 1.5625vw;
  }
}

@media (max-width: 1200px) {
  body, html {
    font-size: 14px;
  }
  header {
    padding: 0 3.6458333333vw;
  }
  .logo-wrap {
    width: 5.2083333333vw;
    height: 3.6458333333vw;
    margin-right: 2.0833333333vw;
  }
  .user-nav-item {
    height: 1.8229166667vw;
    width: 1.5625vw;
  }
}

@media (max-width: 700px) {
  body, html {
    font-size: 12px;
  }
}

@media (max-width: desktoppx) {
  body, html {
    font-size: 0.8333333333vw;
  }
  header {
    padding: 0 3.6458333333vw;
  }
  .logo-wrap {
    width: 5.2083333333vw;
    height: 3.6458333333vw;
    margin-right: 2.0833333333vw;
  }
  .user-nav-item {
    height: 1.8229166667vw;
    width: 1.5625vw;
  }
}