.news-item
    position: relative
    box-shadow: 0 3px 6px rgba(0,0,0,.2)
    width: get-vw(520px)

.news-image
    display: flex
    width: 100%
    height: get-vw(360px)

.news-image img
    height: 100%
    object-fit: cover
    width: 100%

.news-info
    padding: get-vw(25px) get-vw(20px)
    display: flex
    flex-direction: column
    align-items: flex-start

.news-title
    font-size: get-vw(24px)
    +letterSpace(70)
    font-weight: 500
    line-height: 1.2
    margin-bottom: get-vw(15px)

.news-detail
    display: flex
    align-items: center
    justify-content: flex-start

.news-detail-item p
    font-size: get-vw(15px)
    +letterSpace(100)
    font-weight: 500
    color: $blue40

.news-detail-item svg
    width: get-vw(25px)
    height: get-vw(25px)
    margin-right: get-vw(10px)

.news-detail-item + .news-detail-item
    margin-left: get-vw(25px)

.news-text
    font-size: get-vw(18px)
    line-height: 1.38
    +letterSpace(50)
    margin-top: get-vw(20px)
    margin-bottom: get-vw(30px)

.main-btn.light
    background: $transparent
    border: 1px solid $lightBlue
    color: $lightBlue

.news-info .main-btn
    margin-top: auto
    margin-left: auto
    margin-right: auto

.date-label
    position: absolute
    background: $lightBlue70
    right: get-vw(20px)
    top: get-vw(20px)
    display: flex
    justify-content: center
    align-items: center
    width: get-vw(100px)

    height: get-vw(100px)

.date-label p
    color: #fff
    +letterSpace(100)
    font-weight: 700

.date-label .day
    font-size: get-vw(30px)

.date-label .mounth
    font-size: get-vw(20px)
    margin-top: get-vw(20px)


.news-slider






