.news-item
    position: relative
    box-shadow: 0 3px 6px rgba(0,0,0,.2)
    width: get-vw(520px)
    margin-top: get-vw(50px)

.news-image
    display: flex
    width: 100%
    height: get-vw(360px)

.news-image img
    height: 100%
    object-fit: cover
    width: 100%

.news-info
    padding: get-vw(25px) get-vw(20px)
    display: flex
    flex-direction: column
    align-items: flex-start

.news-title
    font-size: get-vw(24px)
    +letterSpace(70)
    font-weight: 500
    line-height: 1.2
    margin-bottom: get-vw(15px)

.news-detail
    display: flex
    align-items: center
    justify-content: flex-start

.news-detail-item
    display: flex
    align-items: center

.news-detail-item p
    font-size: get-vw(15px)
    +letterSpace(100)
    font-weight: 500
    color: $blue40

.news-detail-item svg
    display: flex
    fill: $blue40
    width: get-vw(25px)
    height: get-vw(25px)
    margin-right: get-vw(10px)

.news-detail-item + .news-detail-item
    margin-left: get-vw(25px)

.news-text
    font-size: get-vw(18px)
    line-height: 1.38
    +letterSpace(50)
    margin-top: get-vw(20px)
    margin-bottom: get-vw(30px)

.main-btn.light
    background: $transparent
    border: 1px solid $lightBlue
    color: $lightBlue

.news-info .main-btn
    margin-top: auto
    margin-left: auto
    margin-right: auto

.date-label
    position: absolute
    background: $lightBlue70
    left: get-vw(20px)
    top: get-vw(20px)
    display: flex
    justify-content: center
    align-items: center
    width: get-vw(100px)
    height: get-vw(100px)
    flex-direction: column

.date-label p
    color: #fff
    +letterSpace(100)
    font-weight: 700

.date-label .day
    font-size: get-vw(30px)

.date-label .mounth
    font-size: get-vw(20px)
    margin-top: get-vw(5px)

.news-slider-wrap
    width: 100%
    padding: get-vw(50px) get-vw(125px)

.news-wrapper
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: flex-start


.news-item:nth-child(3n+1)
    margin-left: 0!important

.news-wrapper .news-item + .news-item
    margin-left: get-vw(45px)

.block-title
    display: flex
    flex-direction: column
    align-items: center
    text-transform: uppercase

.block-heading
    font-family: $playfair
    font-size: get-vw(45px)
    +letterSpace(50)
    padding-bottom: get-vw(25px)

.block-subtitle
    font-size: get-vw(22px)
    +letterSpace(50)
    padding-bottom: 10px

.block-title-decor
    display: flex
    justify-content: center
    align-items: center

.block-title-icon
    width: get-vw(50px)
    height: get-vw(45px)
    display: flex
    align-items: center
    justify-content: center
    margin: 0 get-vw(20px)

.block-title-decor .line
    width: get-vw(220px)
    background: $lightBlue
    height: 3px







